/* Reset  */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: inherit;
}

body {
  font-family: Urbanist;
  font-size: 18px;
}

/* TodoForm */

.todo-app {
  display: flex;
  flex-direction: column;
}

.main-header {
  text-align: center;
  background: rgb(18, 92, 18);
  color: white;
  padding: 10px;
  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.todo-list-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.todo-form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-bottom: 70vh;
  border-right: 1px solid darkgray;
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-text-input {
  font-family: Urbanist;
  background-color: white;
  height: 25px;
  width: 250px;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 20px;
  padding-left: 10px;
}

.tags {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(236, 204, 122, 0.918);
  border-radius: 5px;
  width: 280px;
  box-shadow:
    3px 3px 0 #000,
    -1px 0px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.tag-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
}

.tag-button {
  font-family: Urbanist;
  text-align: center;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px 15px;
  background: rgba(236, 204, 122, 0.918);
  border-radius: 5px;
}

.form-button {
  display: block;
  font-family: Urbanist;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  background:rgb(18, 92, 18);
  margin: 10px;
  align-self: center;
}

.form-button:hover {
  background: rgb(15, 80, 15);
  color: yellow;
  cursor: pointer;
}




/* Todo List  */

.todo-list {
  margin-left: 20px;
}

.todo-list-item {
  margin-bottom: 20px;
}