/* Reset  */

html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: inherit;
}

body {
  font-family: Urbanist;
}

/* App Styling */

.todo-app {
  display: flex;
  flex-direction: column;
}

.main-header {
  text-align: center;
  background: rgb(18, 92, 18);
  color: white;
  padding: 10px;
}

.todo-list-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.todo-form {
  display: flex;
  flex-direction: column;
}